body {
	line-height: 1;
	font: 13px/24px "Open Sans", Helvetica, Arial, sans-serif;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-text-stroke: 1px black;
	overflow: hidden;
		background: url(/images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background.jpg', sizingMethod='scale')";
}

#intro {
	text-align: center;
	padding-top: 60px;
}

#intro h1 {
	color: #cfe9ee;
	font-size: 70px;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  	opacity: 0.9;
}

#intro h2 {
	font-size: 24px;
	color: #000000;
}

#intro h3 {
	display:inline;
	color: #555555;
}

.colorfade
{
	display:inline;
	font-size: 10px;
	transition: color .15s ease;
   -moz-transition: color .15s ease;
   -webkit-transition: color .15s ease;
}

.colorfade:hover {
	color: #000000;
}

a:link {
    color: #555555;
    text-decoration: none;
}

a:visited {
    color: #555555;
    text-decoration: none;
}

a:active {
    color: #555555;
    text-decoration: none;
}

.fade {
   opacity: 0.65;
   transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
   }

   .fade:hover {
      opacity: 0.9;
      }

